<%= form_for([@event, @invite]) do |f| %>
  <% if @invite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invite.errors.count, "error") %> prohibited this invite from being saved:</h2>

      <ul>
      <% @invite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4>Invite Friends:</h4>
  <div class="checkbox">


    <% @friendships.each do |friendship| %>

      <p><%= check_box_tag "invitee_ids[]", friendship.friend_id %>
        <%= label_tag "invitee_ids[]", friendship.friend.name %>
      </p>
      </label>
      <hr>
    <% end %>
  </div>
  <button type="submit">
    Send invites
  </button>
<% end %>
