$('.rsvp-btn').removeClass('confirm');
$('.rsvp-btn.<%= @invite.rsvp %>').addClass('confirm');
$('.outcome').css('display', 'none');
$('.outcome.<%= @invite.rsvp %>').css('display', 'block');
<% if @add_avatar %>
	<% if @invite.guest.image %>
		$('.friends').append('<div class="sticker sticker-<%= @invite.rsvp %>" id="invite-<%= @invite.id %>" data-badge="<%= @badge %>"><%= image_tag @invite.guest.image, class: "avatar" %></div>'
	<% else %>
		$('.friends').append('<div class="sticker sticker-<%= @invite.rsvp %>" id="invite-<%= @invite.id %>" data-badge="<%= @badge %>"><%= icon("user", "", class: "avatar guest-avatar") %></div>')
	<% end %>
<% else %>
	var $inviteRsvp = $('#invite-<%= @invite.id %>');
	$inviteRsvp.removeClass('sticker-maybe sticker-going sticker-not-going').addClass('sticker-<%= @invite.rsvp %>');
	$inviteRsvp.attr('data-badge', '<%= @badge %>');
<% end %>

<% if @invite.rsvp == "going" %>
	$('.countdown').css('display', 'none');
<% end %>


