<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @guest.name %>,</h1>
    <p>
      <%= @user.name %> wants to see <%= @event.what %> with you at <%= @event.where %> on <%= @event.when%>.<br/>
    </p>
    <p>
      If you want to go <%= @user.name %> will buy the tickets on your behalf.<a href="<%= @url %>"><h2>RSVP here</h2></a>
    </p>

  </body>
</html>