<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<h4>Events you are hosting:</h4>
<% @events.each do |event| %>
<p><%= link_to event.what, event_path(event) %></p>
<% end %>

<p><%= link_to "Add an event", new_user_event_path(@user) %></p>

<h4>Events you have been invited to:</h4>

<% @invites.each do |invite| %>
<p><%= link_to invite.event.what, event_path(invite.event) %></p>
<% end %>


<h4>Friends:</h4>
<%= link_to "Add friends", edit_friendship_path %><br><br>

<% @user.friendships.each do |friendship| %>
<p><%= friendship.friend.name %><%= link_to "remove", friendship, :method => :delete %></p>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
