<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>




<h4>Friends:</h4>
<%= link_to "Add friends", edit_friendship_path %><br><br>

<% @user.friendships.each do |friendship| %>
<p><%= friendship.friend.name %><%= link_to "remove", friendship, :method => :delete %></p>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
