<p id="notice"><%= notice %></p>
<p><%= link_to 'edit profile', edit_user_path %> |
<%= link_to "add friends", users_path%></p>
<p>
  <%= image_tag("silhouette.png") %><%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<h4>Friends:</h4>
	<% # only display list of friends if any exist 	%>
	<% if !current_user.friendships.empty? %>
		<% current_user.friendships.each do |friendship| %>
			<p><%= image_tag("silhouette.png") %><%= friendship.friend.name %> <%= link_to "remove", friendship, :method => :delete %></p>
		<% end %>
	<% end %>



