<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<h4>Events you are hosting:</h4>
<% @events.each do |event| %>
<p><%= link_to event.what, event_path(event) %></p>
<% end %>

<p><%= link_to "Add an event", new_user_event_path(@user) %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<h4>Friends:</h4>
<button>Add friends</button><br><br>
<% @user.friendships.each do |friendship| %>
<p><%= friendship.friend.name %></p>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
