<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<% @events.each do |event| %>
<p><%= link_to event.what, event_path(event) %></p>
<% end %>

<p><%= link_to "Add an event", new_user_event_path(@user) %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
