<div class="inner-container">
	<div class="row">
		<div class="col-sm-8">
			<h2>Your Details</h2>
			<p class="profile-detail">Name: 	<%= @user.name %> </p>
			<p class="profile-detail">Email: <%= @user.email %></p> 	
		</div>
		<div class="col-sm-4">
			<%= link_to 'edit profile', edit_user_path, class: "button" %>
			<%= link_to "add contacts", users_path, class: "button" %>
		</div>
	</div>

		<h4>Your Contacts:</h4>
		<% # only display list of friends if any exist 	%>
		<% if !@current_user.friendships.empty? %>
			<% @current_user.friendships.each do |friendship| %>
				<p><%= friendship.friend.name %> <%= link_to "remove", friendship, :method => :delete %></p>
			<% end %>
		<% end %>
</div>



