<% content_for :head do %>
  <meta name="description" content="I'm going to buy tickets for <%= @event.what.titleize %>. Let me know if you want to go.">
<% end %>
<% content_for :title do %>
  <title>Let's Get Tickets to <%= @event.what.titleize %></title>
<% end %>

<% content_for :event_notice do %>
  <div class="event-notice">
    <% if @owner == @user %>

      <% if !@event.ticket %>
        <div class="close-btn">X</div>
        <div class="ticket-status guest-count">
          <span><%= @confirmed.count %></span> CONFIRMED GUESTS!
        </div>
        <div class="owner-confirm-ticket">
          <p class="inline">Have you bought the tickets?</p>
          <div class="ticket-form inline  ">
            <%= form_for @event do |f| %>
              <%= f.check_box :ticket, checked: true  %> 
              <div class="btn btn-success ticket-confirm inline">Yes</div>
              <div class="btn btn-danger inline">No</div>
              <%= f.submit %>
            <% end %>
          </div>
        </div>
      <% elsif @event.ticket %>
        <div class="close-btn">X</div>
        <p class="tickets-purchased">Tickets purchased, make sure to notify your recipients.</p>
      <% end %>


    <% elsif !@event.ticket %>
      <div class="close-btn">X</div>
      <h4 class="ticket-status amber">Tickets pending</h4>
      <p><%= @owner.name %> is in the process of procuring tickets.</p>
    <% else %>
      <div class="ticket-status green">Tickets purchased</div>
      <p>Please contact <%= @owner.name %> to confirm yours has been secured.</p>
    <% end %>
  </div>
<% end %>

<div class="row gig">
  <%= render 'event_gig' %>
</div>

<div class="event-container">
  <div class="row ">
    <%= render 'event_details' %>
  </div>
  <%= render 'confirmed_guests' %>
  <% if @owner == @user %>
    <%= render 'payment_tracking' %>
  <% else %>
    <%= render 'guestlist' %>
  <% end %>
</div>

<script>
  $(document).ready(function() {
    
    $('.ticket-form .btn-danger').on('click', function(){
      $('.event-notice').remove();
    })
    <% if @event.ticket && (@owner == @user) %>
      setTimeout(function(){
        $('.event-notice').remove();
      }, 3000)
    <% end %>
  });
</script>








