<div class="event-details">

  <div class="teams">
    <div class="team">
      <%= image_tag 'collingwood.png' %>
    </div>
    <p class="inline">V</p>
    <div class="team">
      <%= image_tag 'hawks.png' %>
    </div>
  </div>

  <div class="details">
    <div><i class="fa fa-clock-o"></i> <p class="inline"><%= @event.event_when.strftime"%a %d %b %I:%M %P" %></p></div>
    <div><i class="fa fa-map-marker"></i><p class="inline"> <%= @event.where.titleize %></p></div>
    <div><i class="fa fa-tag"></i> <p class="cost inline"><%= number_to_currency(@event.price) %></p></div>
  </div>
</div>