<%= form_tag({controller: "events", action: "search"}, method: "get") do %>
  <%= label_tag(:q, "Search for an Event:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
<div id="event-results"></div>

<div class="form">
  <div role="form">
    <%= form_for(@event, :class => "role col-md-12", ) do |f| %>
      <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
          <% @event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :what, "What is the gig?" %>
        <%= f.text_field :what, :class => "form-control" %>
      </div>
        <div class="form-group">
        <%= f.label :where, "Where is the gig?" %>
        <%= f.text_field :where, :class => "form-control"  %>
      </div>
        <div class="form-group">
        <%= f.label :price, "How much is it?" %>
        <%= f.number_field :price, :class => "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :event_when_text, "When is the gig?" %>
        <%= f.text_field :event_when_text, :class => "form-control", placeholder: "eg 8pm Friday 23rd April"  %>
      </div>
      <div class="field">
        <%= f.label :on_sale_text, "When are you buying the tickets?" %>
        <%= f.text_field :on_sale_text, class: "form-control", placeholder: "eg in 3 days, next friday 12pm" %>
      </div>
      <br>
      <div class="actions">
        <%# display differnt copy for button when updating %>
        <% button_text = (@event.new_record?) ? "Create Event" : "Update Event" %>
        <button class="btn btn-primary"><%= button_text %></button>
      </div>
    </div>
  <% end %>
  <h2>ruby</h2>
  <%# @events.each do |event| %>
    <p><%#= event["name"] %> - <%#= event["location"]["name"] %></p>
    <%# end %>
  

</div>

