<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :when %><br>
    <%= f.datetime_select :when %>
  </div>
  <div class="field">
    <%= f.label :what %><br>
    <%= f.text_field :what %>
  </div>
  <div class="field">
    <%= f.label :where %><br>
    <%= f.text_field :where %>
  </div>
  <div class="field">
    <%= f.label :on_sale %><br>
    <%= f.datetime_select :on_sale %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
 
  <%= f.hidden_field :user_id, value: @user.id  %>
  <h4>Invite Friends:</h4>
  <div>
    <%= hidden_field_tag "event[user_ids][]", nil %>
    <% @friends.each do |friend| %>
      <p><%= check_box_tag "event[user_ids][]", friend.id, @event.user_ids.include?(friend.id), id: dom_id(friend) %>
        <%= label_tag dom_id(friend), friend.user.name %>
      </p>
      </label>
      <hr>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
