<% content_for :event_notice do %>
  <div class="event-notice">
    <% if ::Policy::Content::Invite.prompt?(@user, @event) %>
      <div class="row">
        <div class="close-btn">X</div>
        <div class="invite-friends">
          <p>Invite your friends! via Email or facebook</p>    
        </div>
        <div class="invite-btns">
          <div class="bttn invite-btn" data-clipboard-text="<%= event_url(@event) %>"id="invite-btn">Copy link</div>
          <div class=" bttn share-btn"><i class="fa fa-facebook"></i> Share</div>
        </div>
      </div>
    <% end %>

    <div class="countdown">
      <div class="close-btn">X</div>
      <div class="col">
        <span class="ce-days"></span> <span class="ce-days-label"></span>
      </div>
      <div class="col">
        <span class="ce-hours"></span> <span class="ce-hours-label"></span>
      </div>
      <div class="col">
        <span class="ce-minutes"></span> <span class="ce-minutes-label"></span>
      </div>
      <div class="col">
        <span class="ce-seconds"></span> <span class="ce-seconds-label"></span>
      </div>
      <p>...til tickets will be secured</p>
    </div><!-- countdown -->
    
    <div class="message-going message">
      <div class="close-btn">X</div>
      <p>Woot! Fun times ahead! <%= @event.owner.name %> will let you know when tickets are secured.</p>
    </div>
    <div class="message-not-going message">
      <div class="close-btn">X</div>
      <p>You will be missed :(</p>
    </div>
    <div class="message-maybe message">
      <div class="close-btn">X</div>
      <p>There is still time to decide, don't miss out!</p>
    </div>


  </div>
<% end %>
<div class="row gig">
  <%= render 'event_gig' %>
</div>
<div class="event-container">
  <div class="row ">
    <%= render 'event_details' %>
  </div>

  <div class="rsvp">
    <% if @user != @owner %>
      <%= form_for(shallow_args(@user,@invite), remote: true) do |f| %>
        <%= f.hidden_field :rsvp, value: "Undecided" %>
        <%= f.hidden_field :event_id, value: @event.id %>
        <div class="btn neutral rsvp-btn going" value="going">
          <div><i class="icon fa fa-check"></i></div>
          <p>Buy me a ticket!</p>
        </div>
        <div class="btn neutral rsvp-btn not-going" value="not-going">
          <div><i class="icon fa fa-times"></i></div>
          <p>No thanks</p>
        </div>
        <div class="btn neutral rsvp-btn maybe" value="maybe" >
          <div><i class="icon fa fa-question"></i></div>
          <p>Maybe</p>
        </div>
      <% end %><!-- invite-form -->
    <% end %>
      
    <div class="modal fade" id="loginPrompt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Who are you?</h4>
          </div>
          <div class="modal-body">
            <div class="rsvp-login">
              <p class="rsvp-notice"><%= @owner.name %> will need to know who you are. Log in via facebook or enter your name.</p>
              <%= link_to "Login with Facebook", "/auth/facebook?origin=/events/#{params[:id]}", id: "sign_in", class: "btn btn-primary" %>
              <p>or</p>  
              <div class="register-name btn btn-success">
                Submit your name 
              </div>
            </div><!-- rsvp-login -->
          </div>
        </div>
      </div>
    </div>

  </div><!-- rsvp -->

  <div class="row">
    <%= render 'payment_form' %>
  </div>

    <% if @owner == @user %>
      <div class="invite-friends">
        <p>Invite your friends! via Email or facebook</p>    
        <div class="invite-btns">
          <div class="bttn invite-btn" data-clipboard-text="<%= event_url(@event) %>"id="invite-btn">Copy link</div>
          <div class=" bttn share-btn"><i class="fa fa-facebook"></i> Share</div>
        </div>
      </div>
      <%= render 'confirmed_guests' %>
    <% else %>
      <%= render 'confirmed_guests' %>
    <% end %>

    
    <%= render 'guestlist' %>

  </div>
<% if @event.guests.length < 2 %>
  <script>
    $('.countdown').hide();
  </script>
<% end %>
<script>
  $(document).ready(function() {
    $(".countdown").countEverest({
      day: <%= @event.on_sale.day %>,
      month: <%= @event.on_sale.month %>,
      year: <%= @event.on_sale.year %>
    });

    
    var clip = new ZeroClipboard($('#invite-btn'));
    $('.<%= @invite.rsvp %>').addClass('confirm');

    $('.share-btn').on('click', function(){
      FB.ui({
        method: 'share',
        href: '<%= event_url(@event) %>',
      }, function(response){});
    });
    <% if @current_user || @cached_guest_user.name.present? %>
      // rsvp to events
      $('.rsvp-btn').on('click', function(){
        var rsvp = ($(this).attr('value'));
        $('#invite_rsvp').val(rsvp);
        $(this).parent('form').submit();
      });
    <% else %>
      $('.rsvp-btn').on('click', function(){
        var rsvp = $(this).attr('value');
        $('#user_rsvp').attr('value', rsvp);
        $('#loginPrompt').modal('show')
      });
    <% end %>
      // register guest user
      $('.register-name').on('click', function(){
        $('#loginPrompt').modal('hide')
        $('.friends-list').css('display', 'block')
        $('.guest-register').css('display', 'block')
        $("#guest-name-input").focus();
      });
      $('#guest-name').keypress(function(e){
        if (e.which == 13) {
          $(this).parent('form').submit();
        }
      })


  });
</script>




