<% content_for :head do %>
  <meta name="description" content="I'm going to buy tickets for <%= @event.what.titleize %>. Let me know if you want to go.">
  <link rel="image_src" href="http://www.supanova.com.au/wp-content/uploads/2010/02/tickets.jpg" / >
<% end %>
<% content_for :title do %>
  <title>Let's Get Tickets to <%= @event.what.titleize %></title>
<% end %>
<div class="event-container">
  <div class="row">
    <div class="col-md-12 event-header">
      <h3>Let's get tickets to</h3>
      
    </div><!-- event-header -->
  </div><!-- row -->
  <div class="row ">
    <%= render 'event_details' %>
  </div>
  <div class="rsvp">

    <% if @user != @owner %>
      <p>Are you coming?</p>

      <%= form_for(shallow_args(@user,@invite), remote: true) do |f| %>
        <%= f.hidden_field :rsvp, value: "Undecided" %>
        <%= f.hidden_field :event_id, value: @event.id %>
        <div class="btn neutral rsvp-btn going" value="going">Buy me a ticket!</div>
        <div class="btn neutral rsvp-btn not-going" value="not-going">No thanks</div>
        <div class="btn neutral rsvp-btn maybe" value="maybe" >Maybe</div>
      <% end %><!-- invite-form -->

      <div class="rsvp-login">
        <p class="rsvp-notice"><%= @owner.name %> will need to know who you are. Log in via facebook or enter your name.</p>
        <%= link_to "Login with Facebook", "/auth/facebook?origin=%2Fevents", id: "sign_in", class: "btn btn-primary" %>
        <p>or</p>
        <div class="form">
          <div role="form">
            <%= form_for @user, remote: true do |f| %>
            <div class="field">
              <%= f.text_field :name, placeholder: "Name" %>
              <%= f.hidden_field :event_id, value: @event.id%>
              <%= f.hidden_field :rsvp, value: "text", class: "rsvp-capture" %>
            </div>
            <div class="submit btn btn-success">
              Submit your name 
            </div>
            <% end %>
          </div>
        </div><!-- form -->
      </div><!-- rsvp-login -->

    <% end %><!-- end guest partials -->

    <% if @invite.rsvp != "going" %>
      <div class="countdown">
        <p>You will need to rsvp soon. The clock is ticking...</p>
        <div class="col">
          <span class="ce-days"></span> <span class="ce-days-label"></span>
        </div>
        <div class="col">
          <span class="ce-hours"></span> <span class="ce-hours-label"></span>
        </div>
        <div class="col">
          <span class="ce-minutes"></span> <span class="ce-minutes-label"></span>
        </div>
        <div class="col">
          <span class="ce-seconds"></span> <span class="ce-seconds-label"></span>
        </div>
      </div><!-- countdown -->
    <% end %>
  </div><!-- rsvp -->

        

  <% if @owner != @user %>
    <div class="row">
      <%= render 'rsvp' %>
    </div>
  <% else %>
    <% if @event.guests.length == 1 %>
      <div class="row">
        <div class="invite-friends">
          <p>Invite friends to the event! Email or share on facebook</p>
          <button class="btn btn-primary invite-btn" data-clipboard-text="<%= event_url(@event) %>"id="invite-btn">Copy link</button>
          <button class="btn btn-primary share-btn"><i class="fa fa-facebook"></i> Share</button>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= render 'guestlist' %>
  </div>

<script>
  $(document).ready(function() {
    $(".countdown").countEverest({
      day: <%= @event.on_sale.day %>,
      month: <%= @event.on_sale.month %>,
      year: <%= @event.on_sale.year %>
    });

    var clip = new ZeroClipboard($('#invite-btn'));
    $('.<%= @invite.rsvp %>').addClass('confirm');

    $('.share-btn').on('click', function(){
      FB.ui({
        method: 'share',
        href: '<%= event_url(@event) %>',
      }, function(response){});
    });
    <% if @current_user || @cached_guest_user.name.present? %>
      // rsvp to events
      $('.rsvp-btn').on('click', function(){
        var rsvp = ($(this).attr('value'));
        $('#invite_rsvp').val(rsvp);
        $(this).parent('form').submit();
      });
    <% else %>
      $('.rsvp-btn').on('click', function(){
        if ($('.confirm').length == 0) {
          $(this).addClass('confirm');
        }
        var rsvp = $(this).attr('value');
        $('#user_rsvp').attr('value', rsvp);
        $('.rsvp-login').css('display', 'block');
      });
    <% end %>
  });
</script>




