<div class="going outcome">
  <h3 class="step-title"><%= @owner.name %> will buy you a ticket!</h3>
  <div class="payment">
    <%= form_for(shallow_args(@user,@invite), remote: true) do |f| %>
    <%= f.hidden_field :payment_method, value: "cash" %>
    <%= f.hidden_field :event_id, value: @event.id %>
    <p>Let <%= @event.owner.name %> know how you would like to pay him.</p>
    <div class="btn btn-payment cash" value="cash">Cash</div>
    <div class="btn btn-payment bank" value="bank">Bank Transfer</div>
    <% end%>
  </div>

</div>

<div class="not-going outcome">
  <p>Bummer, you still have time to change your mind.</p>
</div>
<div class="maybe outcome">
  <p>Well that's ok for now but you will need to make a decision soon. The clock is ticking!</p>
</div>

<script>
$(document).ready(function() {
  $('.btn-payment').on('click', function(){
    var payment = $(this).attr('value');
    $('#invite_payment_method').attr('value', payment);
    $(this).parent('form').submit();
  });
  $('.outcome').css('display', 'none');
  $('.outcome.<%= @invite.rsvp %>').css('display', 'block');

});
</script>