<h2>Events you are hosting:</h2>
<% @events.each do |event| %>
<p><%= link_to event.what, event_path(event) %></p>
<% end %>

<p><%= link_to "Add an event", new_user_event_path(@user) %></p>

<h2>Events you have been invited to:</h2>

<% @invites.each do |invite| %>
<div id="invite">
<p><%= link_to invite.event.what, event_path(invite.event) %> <%= invite.attending %>
	
  <%= form_for(invite) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id  %>
    <%= f.hidden_field :attending, value: "Going"  %>
    <button>
    Accept
    </button>
  <% end %>

	
  <%= form_for(invite) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id  %>
    <%= f.hidden_field :attending, value: "Not Going"  %>
    <button>
    Decline
    </button>
  <% end %>
  </div>
</p>
<% end %>



