<h2>Events you are hosting:</h2>
<% @events.each do |event| %>
<p><%= link_to event.what, event_path(event) %></p>
<% end %>

<p><%= link_to "Add an event", new_user_event_path(@user) %></p>

<h2>Events you have been invited to:</h2>

<% @invites.each do |invite| %>
	<div class="row">
		<div class="col-md-6">
			<h4><%= link_to invite.event.what, event_path(invite.event) %> <%= invite.event.when.strftime"%I:%M%p %b %d" %> </h4><p>You are <%= invite.attending %></p>
			
		  <%= form_for(invite) do |f| %>
		    <%= f.hidden_field :user_id, value: current_user.id  %>
		    <%= f.hidden_field :attending, value: "Going"  %>
    </div>
    <div class="col-md-3">
		    <button class="btn btn-success">
		    Accept
		    </button>
		  <% end %>
	  </div>

			
		  <%= form_for(invite) do |f| %>
		    <%= f.hidden_field :user_id, value: current_user.id  %>
		    <%= f.hidden_field :attending, value: "Not Going"  %>
		    <div class="col-md-3">
			    <button class="btn btn-danger">
			    Decline
			    </button>
			  </div>
		  <% end %>
  </div>
  <hr>
	
	<% end %>



