  
<div class="event-container">
  <div class="row">
    <div class="col-md-12">
      <h3>Let's get tickets to</h3>
      <h1><%= @event.what.titleize %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 event-details">

      <div>
        <p class="event-detail-label">When:</p>
        <div class="event-detail">
          <%= @event.when.strftime"%a %d %b %I:%M %P" %>
        </div>
      </div>
      <br>

  <!--     <div>
        <p class="event-detail-label">What:</p>
        <div class="event-detail">
          <%= @event.what %>
        </div>
      </div>
      <br> -->


      <div>
        <p class="event-detail-label">Where:</p>
        <div class="event-detail">
          <%= @event.where.titleize %>
        </div>
      </div>
      <br>

      
      <div>
        <p class="event-detail-label">Cost:</p>
        <div class="event-detail">
          <%= number_to_currency(@event.price)  %>
        </div>
      </div>
      <br>
   
    </div> <!-- event-details -->


    <div class="col-md-6 rsvp-details">
      <p class="event-detail-label"><%= @owner.name %> will buy tickets in:</p>
      <div class="countdown">
        <div class="col">
          <span class="ce-days"></span> <span class="ce-days-label"></span>
        </div>
        <div class="col">
          <span class="ce-hours"></span> <span class="ce-hours-label"></span>
        </div>
        <div class="col">
          <span class="ce-minutes"></span> <span class="ce-minutes-label"></span>
        </div>
        <div class="col">
          <span class="ce-seconds"></span> <span class="ce-seconds-label"></span>
        </div>
      </div><!-- countdown -->
      <p>
      <br>      
      <div id="rsvp-buttons">
        <% # event owner does not need to rsvp. these buttons are filtered out with if statement %>
        <% if @owner != current_user %>
        <% # hide buttons if you have already responded %>
          <% if @invite.attending == "Undecided"  %>

            <%= form_for(@invite) do |f| %>
              <%= f.hidden_field :user_id, value: current_user.id  %>
              <%= f.hidden_field :attending, value: "Going"  %>
              <button type="submit" class="confirm rsvp">
                Get me a ticket
              </button>
            <% end %>
        

            <%= form_for(@invite) do |f| %>
              <%= f.hidden_field :user_id, value: current_user.id  %>
              <%= f.hidden_field :attending, value: "Not Going"  %>
              <button type="submit" class="decline rsvp">
                Decline
              </button>
            <% end %>
          <% end %>
        <% end %>
      </div><!-- rsvp buttons -->

      <div class="guest-list">
        <div class="confirmed-list">
          <p class="event-detail-label"> <%= pluralize(@confirmed.count + 1, "Ticket") %> Confirmed:</p>
          <p class="guest"><%= @owner.name %> - Event Host</p>
          
            <% @confirmed.each do |invite| %>
              <% user = User.find(invite.user_id) %>
              <p class="guest"><%= user.name %></p>
            <% end %>
        
        </div> <!-- confirmed -->

        <div class="undecided-list">
          <p class="event-detail-label"><%= @undecided.count %> Undecided:</p>
          <% @undecided.each do |invite| %>
            <% user = User.find(invite.user_id) %>
            <p class="guest"><%= user.name %></p>
          <% end %>   
        </div> <!-- undecided -->

        <% if @owner == current_user %>
          <%= link_to 'Edit', edit_event_path(@event) %>
        <% end %>
      </div> <!-- guest-list -->
    </div><!-- rsvp-details -->
  </div><!-- row -->
</div><!-- event-container -->


<script>
  $(document).ready(function() {
    $(".countdown").countEverest({
      day: <%= @event.on_sale.day %>,
      month: <%= @event.on_sale.month %>,
      year: <%= @event.on_sale.year %>
    });

    $(".confirmed-list .guest:last").css({borderBottom: "solid 1px #F54828", borderBottomLeftRadius: "5px", borderBottomRightRadius: "5px"});
    $(".confirmed-list .guest").first().css({ borderTopLeftRadius: "5px", borderTopRightRadius: "5px"});
    $(".undecided-list .guest:last").css({borderBottom: "solid 1px #F54828", borderBottomLeftRadius: "5px", borderBottomRightRadius: "5px"});
    $(".undecided-list .guest").first().css({ borderTopLeftRadius: "5px", borderTopRightRadius: "5px"});

  });
</script>



