<p id="notice"><%= notice %></p>
<div id="main">
<p>
  <strong>When:</strong>
  <%= @event.when.strftime"%I:%M%p %b %d" %>
</p>

<p>
  <strong>What:</strong>
  <%= @event.what %>
</p>


<p>
  <strong>Where:</strong>
  <%= @event.where %>
</p>

<p>
  <strong>Host:</strong>
  <%= link_to @user.name, @user %>
</p>




<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

</div>
<div id="right">
  <p>
    <strong>On Sale:</strong>
    <%= @event.on_sale.strftime"%I:%M%p %b %d" %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= @event.price %>
  </p>

  <p>
    <strong>Guests:</strong>
    <% @guests.each do |guest| %>
      <p><%= link_to guest.name, guest %></p>
    <% end %>
    <%= link_to "Invite friends", edit_event_path(@event) %>
  </p>

</div>



