<p id="notice"><%= notice %></p>
<% if @user != current_user %>
<div id="invite">
  <%= form_for(@invite) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id  %>
    <%= f.hidden_field :attending, value: "Going"  %>
    <button>
    Accept
    </button>
  <% end %>


  <%= form_for(@invite) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id  %>
    <%= f.hidden_field :attending, value: "Not Going"  %>
    <button>
    Decline
    </button>
  <% end %>
  </div>
<% end %>


<div id="main">

<p>
  <strong>When:</strong>
  <%= @event.when.strftime"%I:%M%p %b %d" %>
</p>

<p>
  <strong>What:</strong>
  <%= @event.what %>
</p>


<p>
  <strong>Where:</strong>
  <%= @event.where %>
</p>

<p>
  <strong>Host:</strong>
  <%= link_to @user.name, @user %>
</p>




<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

</div>
<div id="right">
  <p>
    <strong>On Sale:</strong>
    <!-- @event.on_sale.strftime"%I:%M%p %b %d" %> -->
  </p>
  <p>
    <strong>Price:</strong>
    <!-- @event.price %> -->
  </p>

  <p>
    <strong>Who Wants Tickets:</strong>
    <% @invites.each do |invite| %>
    <p><%= invite.user.name %> - <%= invite.attending %></p>
    <% end %>
    <%= link_to "Invite friends", edit_event_path(@event) %>
  </p>

</div>



