<% content_for :head do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOAgUCn6GQzKlnMwFmO2kBvG_S3JRD38&libraries=places&sensor=false" %>
<% end %>

  
<div class="inner-container container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h3>Let's get tickets to</h3>
    </div>
    <div class="col-sm-6 controls">
      <% if @owner == current_user %>
        <%= link_to 'Edit', edit_event_path(@event), class: "button" %>
        <%= link_to 'Invite more friends', edit_event_path(@event), class: "button" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1><%= @event.what.titleize %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 event-details">
      <div class="event-detail-container">
        <p class="event-detail-label">When:</p>
        <div class="event-detail">
          <%= @event.event_when.strftime"%a %d %b %I:%M %P" %>
        </div>
      </div>

      <div class="event-detail-container">
        <p class="event-detail-label">Where:</p>
        <div class="event-detail">
          <%= @event.where.titleize %>
        </div>
      </div>
      <div id="map-container">
        <div id="map-canvas">
        </div>
      </div>
    </div> <!-- event-details -->


    <div class="col-md-6 rsvp-details">
      <div class="event-detail-container">
        <p class="event-detail-label"><%= @owner.name %> will buy tickets in:</p>
        <div class="countdown">
          <div class="col">
            <span class="ce-days"></span> <span class="ce-days-label"></span>
          </div>
          <div class="col">
            <span class="ce-hours"></span> <span class="ce-hours-label"></span>
          </div>
          <div class="col">
            <span class="ce-minutes"></span> <span class="ce-minutes-label"></span>
          </div>
          <div class="col">
            <span class="ce-seconds"></span> <span class="ce-seconds-label"></span>
          </div>
        </div><!-- countdown -->
      </div>
      <div class="event-detail-container">
        <p class="event-detail-label">Cost:</p>
        <div class="event-detail">
          <%= number_to_currency(@event.price)  %>
        </div>
      </div>  
      <div class="guest-list event-detail-container">
        <div class="confirmed-list">
          <p class="event-detail-label"> <%= pluralize(@confirmed.count + 1, "Ticket") %> Confirmed:</p>
          <div class="guest">
            <p class="guest-name"><%= @owner.name %> - Buying the tickets</p>
          </div>
          
            <% @confirmed.each do |invite| %>
              <% user = User.find(invite.user_id) %>
              <div class="guest">
                <p class="guest-name"><%= user.name %></p>
                <div class="rsvp-container">
                  <div class="rsvp-button">
                    <%= form_for(invite) do |f| %>
                      <%= f.hidden_field :user_id, value: user.id  %>
                      <%= f.hidden_field :attending, value: "Not Going"  %>
                        <button type="submit" class="decline rsvp rsvp-edit">
                         <i class="fa fa-times"></i>
                        </button>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
        
        </div> <!-- confirmed -->

        <div class="undecided-list event-detail-container">
          <% if @undecided.count > 0 %>
            <p class="event-detail-label"><%= @undecided.count %> Undecided:</p>
            <% @undecided.each do |invite| %>
              <% user = User.find(invite.user_id) %>
              <div class="guest">
                <p class="guest-name"><%= user.name %></p>
                <div class="rsvp-container">

                  <div class="rsvp-button">
                    <%= form_for(invite) do |f| %>
                      <%= f.hidden_field :user_id, value: user.id  %>
                      <%= f.hidden_field :attending, value: "Not Going"  %>
                        <button type="submit" class="decline rsvp">
                         <i class="fa fa-times"></i>
                        </button>
                    <% end %>
                  </div>

                  <div class="rsvp-button">
                    <%= form_for(invite) do |f| %>
                      <%= f.hidden_field :user_id, value: user.id  %>
                      <%= f.hidden_field :attending, value: "Going"  %>
                      <button type="submit" class="confirm rsvp">
                        <i class="fa fa-check"></i>
                      </button>
                    <% end %>
                  </div>

                </div>              
              </div>  
            <% end %>   
          <% end %>
        </div> <!-- undecided-list div-->

        <div class="declined-list event-detail-container">
          <% if @declined.count > 0 %>
            <p class="event-detail-label"><%= @declined.count %> Not Going:</p>
            <% @declined.each do |invite| %>
              <% user = User.find(invite.user_id) %>
              <div class="guest">
                <p class="guest-name"><%= user.name %></p>
                <div class="rsvp-container">

                  <div class="rsvp-button">
                    <%= form_for(invite) do |f| %>
                      <%= f.hidden_field :user_id, value: user.id  %>
                      <%= f.hidden_field :attending, value: "Going"  %>
                        <button type="submit" class="confirm rsvp rsvp-edit">
                         <i class="fa fa-check"></i>
                        </button>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end%>

        </div>

  

      </div> <!-- guest-list -->
    </div><!-- rsvp-details -->
  </div><!-- row -->
</div><!-- event-container -->


<script>
  $(document).ready(function() {
    $(".countdown").countEverest({
      day: <%= @event.on_sale.day %>,
      month: <%= @event.on_sale.month %>,
      year: <%= @event.on_sale.year %>
    });

    $(".confirmed-list .guest:last").css({borderBottom: "solid 1px #F54828", borderBottomLeftRadius: "5px", borderBottomRightRadius: "5px"});
    $(".confirmed-list .guest").first().css({ borderTopLeftRadius: "5px", borderTopRightRadius: "5px"});
    $(".undecided-list .guest:last").css({borderBottom: "solid 1px #F54828", borderBottomLeftRadius: "5px", borderBottomRightRadius: "5px"});
    $(".undecided-list .guest").first().css({ borderTopLeftRadius: "5px", borderTopRightRadius: "5px"});
    $(".declined-list .guest:last").css({borderBottom: "solid 1px #F54828", borderBottomLeftRadius: "5px", borderBottomRightRadius: "5px"});
    $(".declined-list .guest").first().css({ borderTopLeftRadius: "5px", borderTopRightRadius: "5px"});
    mapInit(<%= @event.lat.to_f %>, <%= @event.lng.to_f %>);
    // mapInit(gon.lat, gon.lng);

  });
</script>



