<% content_for :title do %>
<title>Let's Get Tickets</title>
<% end %>
<a class="navbar-brand" href="/"><span><%= image_tag 'planndit_icon_flipped.png', class: "small-p" %></span>planndit</a>
<div class="campaign">
  <div class="row">
    <div class="step-2">
      <div class="step-item">
        <%= icon('group', '', class: 'icons') %>
        <p class="step-copy">Friends</p>
      </div>
    </div>

    <div class="step-3">
      <div class="step-item">
        <%= icon('calendar', '', class: 'icons') %>
        <p class="step-copy">Gig</p>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="step-1">
      <div class="step-item ">
        <%= icon('ticket', '', class: 'icons') %>
        <p class="step-copy">Tickets</p>
      </div>
    </div>

    <div class="step-4">
      <div class="step-item">
        <%= icon('dollar', '', class: 'icons') %>
        <p class="step-copy">Paid</p>
      </div>
    </div>

  </div><!-- steps -->
  <div class="stick-figure">
    <%= image_tag "stick-figure.png" %>
  </div>
  
</div>
