<% content_for :title do %>
<title>Let's Get Tickets</title>
<% end %>
<div class="campaign">
  <h1 class="campaigner"><span><%= image_tag 'planndit_icon_flipped.png', class: "little-p" %></span>planndit</h1>
  <div class="row" id="steps">
    <div class="col-md-3">
      <div class="step-item">
        <%= icon('group', '', class: 'icons') %>
        <p class="step-copy">Friends</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="step-item">
        <%= icon('calendar', '', class: 'icons') %>
        <p class="step-copy">Gig</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="step-item">
        <%= icon('ticket', '', class: 'icons') %>
        <p class="step-copy">Tickets</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="step-item">
        <%= icon('dollar', '', class: 'icons') %>
        <p class="step-copy">Paid</p>
      </div>
    </div>

  </div><!-- steps -->

  
</div>
