<% content_for :title do %>
<title>Let's Get Tickets</title>
<% end %>
<div class="campaign">
  <div class="row">
    <div class="col-md-12">
      <h1 id="landing-header">Let's Get Tickets!</h1>
      <p id="tagline">
        The easiest way to organise group tickets
      </p>
      <p>Get your friends excited</p>
      <p>No awkward payment reminders with freinds</p>
      <p>Get more committment</p>
    </div>
  </div>
  <div class="row" id="steps">
    <div class="step-item col-md-3"><%= icon('group', '', class: 'icons') %><p class="step-copy">Invite your friends to see who is interested</p></div>

    <div class="step-item col-md-3"><%= icon('calendar', '', class: 'icons') %><p class="step-copy">Set the date when you will buy the tickets</p></div>

    <div class="step-item col-md-3"><%= icon('ticket', '', class: 'icons') %><p class="step-copy">Buy tickets for confirmed friends!</p></div>

    <div class="step-item col-md-3"><%= icon('dollar', '', class: 'icons') %><p class="step-copy">Keep track of who has paid</p></div>

  </div> 
  <%= render 'pages/campaign_event' %>
      <div class="btn btn-primary">Create event</div>
  
</div>
