<% content_for :title do %>
<title>planndit</title>
<% end %>
<div class="overlay home-page">
	<div class="planner-container">
		<div class="planner">
			<%= image_tag 'stick-figure.png', class: "the-planner" %>
		</div>
		<div class="pin"><%= image_tag 'planndit_icon_flipped.png', class: "little-p" %></div>
		<div class="innerCircle circle"></div>
		<div class="middleCircle circle"></div>
		<div class="outerCircle circle"></div>
		<div class="guest-container">
			<%= image_tag 'group-figures.png', class: "the-guests" %>
		</div>
	</div>
	<div class="friends">
		<div class="friend friend-1 sm left left-top"></div>
		<div class="friend friend-2 sm left left-middle"><div class="body"></div></div>
		<div class="friend friend-3 medium left left-bottom"><div class="body"></div></div>
		<div class="friend friend-4 big bottom bottom-left"></div>
		<div class="friend friend-5 medium bottom bottom-left"><div class="body"></div></div>
		<div class="friend friend-6 xl bottom bottom-middle"><div class="body"></div></div>
		<div class="friend friend-7 big bottom bottom-right"><div class="body"></div></div>
		<div class="friend friend-8 xl bottom bottom-right"><div class="body lean"></div></div>
		<div class="friend friend-9 xl bottom bottom-right right"><div class="body"></div></div>
		<div class="friend friend-10 medium right right-middle"><div class="body lean"></div></div>
		<div class="friend friend-11 sm right right-top"></div>
		<div class="friend friend-12 friend-13 big-one"></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="home-page-brand">
				<div class="fleft">
					<span><%= image_tag 'planndit_icon_flipped.png', class: "little-p" %></span>
				</div>
				<div class="fleft name-tagline">
					<h1 id="brand-splash">planndit</h1>
					<span class="tag-spacer"></span><p id="tagline">make the plans, book your friends</p>
					<div class="create-event">
						<%= link_to 'create an event', new_event_path, id: "hp-btn" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){
	if ($(window).width() >= 900){
		setTimeout(function(){
			 $('.friend-8').css('display', 'block')
		}, 9000)
	}
	setTimeout(function(){
		$('.the-planner').attr('src', '/assets/stick-figure-proud.png')
	}, 2000)
	var bigGuy = setInterval(function(){
		checkBigGuy();
	}, 200);
		
	function checkBigGuy() {
		if ($('.friend-12').position().top <= 0){
			$('.friend').css('display', 'none');
			$('.the-guests').css('display', 'block');
			clearInterval(bigGuy)
		}
	}

})
</script>