<div class="guest-list">
  <div class="friends-list payments">
      <% @invites.each do |invite| %>
      <% get_rsvp_badge(invite) %>
      <div class="guest"> 
        <div class="inline sticker sticker-<%= invite.rsvp %>" id="invite-<%= invite.id %>" data-badge="<%= @badge %>">
          <% if invite.guest.image %>
            <%= image_tag invite.guest.image, class: 'avatar inline' %>
          <% else %>
            <%= icon('user', '', class: 'avatar guest-avatar inline') %>
          <% end %>
        </div>
        <p class="inline"><%= invite.guest.name %></p>
          <div class="onoffswitch">
            <%= form_for invite, remote: true do |f| %>
              <%= f.hidden_field :event_id, value: params[:id] %>
              <%= f.check_box :payment, class: "onoffswitch-checkbox" %>
              <%= f.submit %>
              <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            <% end %>
          </div>  
      </div>

    <% end %>
  </div>
</div>



