<div class="notifications">
  <%= render "countdown" if @event.open %>
  <%= render "booking_reminder" if @event.closed && @event.unconfirmed? %>
  <%= render "notify_guests" if @event.closed && @event.booked %>
</div>

<%= render "event_title" %>
<%= render "event_details" %>
<%= render "guestlist" if @event.unconfirmed? %>
<%= render "events/payment_tracking" if @event.booked %>

<script>
  $(document).ready(function(){
    <% if @invites.count < 7 %>
      $('.friends-icons').css('display', 'none');
      $('.friends-list').css('display', 'block');
    <% end %>
  })
</script>