<!DOCTYPE html>
<html>
<head>
  <title>Let's Get Tickets</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render "pages/googleanalytics" %>
  <%= yield :head %>
  
</head>
<body>

  <%= render "pages/header" %>
  

  <div class="row alerts">
    <div class="col-md-12">
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, :class => "alert alert-#{key}" unless value.blank? %>
      <% end %>
    </div>
  </div>
  
  <div id="content">

    <%= yield %>

  </div><!-- content -->
  
  <footer>
    <ul class="footer">
      <li><%= link_to 'About Us', '/about' %></li>
      <li><%= link_to 'Contact Us', '/contact' %></li>
    </ul>
  </footer>
</body>

</html>
