<!DOCTYPE html>
<html>
<head>
  <title>Let's Get Tickets</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render "pages/googleanalytics" %>
</head>
<body>

  <%= render "pages/header" %>
  <div id="content">
    <div class="row alerts">
      <div class="col-md-12">
        <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
        <% end %>
        <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
        <% end %>
      </div>
    </div>

    <div class="container">
      <div class="container-border">

      <%= yield %>
      </div>
    </div>
  </div>
  <footer>
    <ul class="footer">
      <li><%= link_to 'About Us', '/about' %></li>
      <li><%= link_to 'Contact Us', '/contact' %></li>
    </ul>
  </footer>


</body>

</html>
