<!DOCTYPE html>
<html>
<head>
  <title>Let's Get Tickets</title>  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  <%= render "layouts/googleanalytics" %>
</head>
<body>

  <%= render "layouts/header" %>
  <% flash.each do |key, value| %>
  <%= content_tag :div, value, :class => "alert alert-#{key}" unless value.blank? %>
  <% end %>
  <div class="container">

    <%= yield %>
  </div>
</body>
</html>
