<!DOCTYPE html>
<html>
  <head>
    <title>Let's Get Tickets</title>  
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <%= render "layouts/googleanalytics" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

  	<div class="landing">
      
      <%= yield %>
      
		</div>	
  </body>
</html>
